.modal {
  background-color: rgba(0, 0, 0, 0.7);
  min-height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;

  &.active {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__container {
    background-color: white;
    height: 300px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .fa-check {
      background-color: green;
      color: white;
      font-size: 100px;
      padding: 30px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }

    .fa-x {
      background-color: tomato;
      color: white;
      font-size: 100px;
      padding: 30px 40px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }

    &_x {
      color: black;
      font-size: 70px;
      position: absolute;
      right: 30px;
      top: 10px;
      cursor: pointer;
    }
  }
}

.section {
  &__pitsa {
    &_content {
      @include flexbox(flex, center, center, row);
      position: relative;

      &-title {
        font-weight: 400;
        font-size: 35px;
        text-align: center;

        padding: {
          top: 25px;
          bottom: 25px;
        }
      }

      .fa-cart-shopping {
        font-size: 20px;
        position: absolute;
        right: 0;
        cursor: pointer;
      }
    }


    &_container {
      @include flexbox(flex, space-between, none, row);
      max-width: 90%;

      &_box {
        transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;

        &.active {
          transform: translateX(300%);
          -webkit-transform: translateX(300%);
          -moz-transform: translateX(300%);
          -ms-transform: translateX(300%);
          -o-transform: translateX(300%);
        }

        &_result {
          @include flexbox(flex, stretch, center, row);
          gap: 10px;

          margin: {
            top: 20px;
            bottom: 20px;
          }

          &-title {
            font-size: 20px;
          }

          &-paragraph {
            font-size: 20px;
          }
        }

        &_results {
          @include flexbox(flex, none, center, row);
          gap: 10px;

          margin: {
            top: 20px;
            bottom: 20px;
          }

          &-title {
            font-size: 20px;
          }

          &-paragraph {
            font-size: 20px;
          }
        }

        &_list {
          &_item {
            &-title {
              font-size: 20px;

              margin: {
                bottom: 10px;
              }
            }
          }

          &-item {
            font-size: 20px;

            margin: {
              top: 10px;
              bottom: 10px;
            }
          }
        }

        &_lists {
          &_item {
            &-title {
              font-size: 20px;

              margin: {
                bottom: 10px;
              }
            }
          }

          &-item {
            font-size: 20px;

            margin: {
              top: 10px;
              bottom: 10px;
            }
          }
        }

        &-title {
          font-size: 20px;

          &.second {
            margin: {
              top: 30px;
              bottom: 15px;
            }
          }
        }

        &-btn {
          padding: {
            top: 15px;
            bottom: 15px;
            right: 30px;
            left: 30px;
          }

          font-size: 20px;
          background-color: tomato;
          border: 1px solid tomato;
          color: white;

          margin: {
            top: 30px;
          }

          transition: all 0.3s linear;

          &:hover {
            background-color: transparent;
            color: tomato;
          }
        }

        &_select {
          margin: {
            top: 10px;
            bottom: 50px;
          }

          width: 50%;

          padding: {
            top: 5px;
            bottom: 5px;
          }

          font-size: 20px;
          outline: none;
          cursor: pointer;
        }

        &_sizes {
          @include flexbox(flex, none, center);
          gap: 10px;

          margin: {
            top: 30px;
          }

          gap: 50px;

          &-size {
            height: 100px;
            width: 100px;
            border: 1px solid black;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            @include flexbox(flex, center, center);
            font-size: 20px;
            font-weight: 1000;
            cursor: pointer;

            &.active {
              background-color: black;
              color: white;
            }
          }
        }

        &_form {
          @include flexbox(flex, space-between, none, row);
          width: 150%;

          &_box {
            @include flexbox(flex, stretch, stretch, column);

            &_label {
              @include flexbox(flex, none, center, row);
              gap: 10px;
              font-size: 20px;

              &-input {
                height: 30px;
                width: 30px;

                margin: {
                  top: 5px;
                  bottom: 5px;
                }

                cursor: pointer;
              }
            }
          }
        }

        &_forms {
          @include flexbox(flex, space-between, none, row);
          width: 150%;

          &_box {
            @include flexbox(flex, stretch, none, column);

            &_label {
              @include flexbox(flex, stretch, center, row);
              gap: 10px;
              font-size: 20px;

              &-input {
                height: 30px;
                width: 30px;

                margin: {
                  top: 5px;
                  bottom: 5px;
                }

                cursor: pointer;
              }
            }
          }
        }

        #form {
          width: 98%;
        }
      }

      &_box.second {
        position: relative;
      }
    }
  }
}



@media only screen and (max-width: 850px) {
  .section {
    &__pitsa {
      &_content {
        @include flexbox(flex, space-between, center, row);
        position: relative;

        &-title {
          font-weight: 400;
          font-size: 35px;
          text-align: center;

          padding: {
            top: 25px;
            bottom: 25px;
          }
        }

        .fa-cart-shopping {
          font-size: 20px;
          position: absolute;
          right: 0;
          cursor: pointer;
        }
      }


      &_container {
        @include flexbox(flex, space-between, none, row);
        max-width: 90%;

        &_box {
          transition: all 0.5s linear;
          -webkit-transition: all 0.5s linear;
          -moz-transition: all 0.5s linear;
          -ms-transition: all 0.5s linear;
          -o-transition: all 0.5s linear;

          &.active {
            transform: translateX(300%);
            -webkit-transform: translateX(300%);
            -moz-transform: translateX(300%);
            -ms-transform: translateX(300%);
            -o-transform: translateX(300%);
          }

          #section-pitsa-second {
            transform: translateX(300%);
            -webkit-transform: translateX(300%);
            -moz-transform: translateX(300%);
            -ms-transform: translateX(300%);
            -o-transform: translateX(300%);
          }

          &_result {
            @include flexbox(flex, stretch, center, row);
            gap: 10px;

            margin: {
              top: 20px;
              bottom: 20px;
            }

            &-title {
              font-size: 20px;
            }

            &-paragraph {
              font-size: 20px;
            }
          }

          &_results {
            @include flexbox(flex, stretch, center, row);
            gap: 10px;

            margin: {
              top: 20px;
              bottom: 20px;
            }

            &-title {
              font-size: 20px;
            }

            &-paragraph {
              font-size: 20px;
            }
          }

          &_list {
            &_item {
              &-title {
                font-size: 20px;

                margin: {
                  bottom: 10px;
                }
              }
            }

            &-item {
              font-size: 20px;

              margin: {
                top: 10px;
                bottom: 10px;
              }
            }
          }

          &_lists {
            &_item {
              &-title {
                font-size: 20px;

                margin: {
                  bottom: 10px;
                }
              }
            }

            &-item {
              font-size: 20px;

              margin: {
                top: 10px;
                bottom: 10px;
              }
            }
          }

          &-title {
            font-size: 20px;

            &.second {
              margin: {
                top: 30px;
                bottom: 15px;
              }
            }
          }

          &-btn {
            padding: {
              top: 15px;
              bottom: 15px;
              right: 30px;
              left: 30px;
            }

            font-size: 20px;
            background-color: tomato;
            border: 1px solid tomato;
            color: white;

            margin: {
              top: 30px;
            }

            transition: all 0.3s linear;

            &:hover {
              background-color: transparent;
              color: tomato;
            }
          }

          &_select {
            margin: {
              top: 10px;
              bottom: 50px;
            }

            width: 50%;

            padding: {
              top: 5px;
              bottom: 5px;
            }

            font-size: 20px;
            outline: none;
            cursor: pointer;
          }

          &_sizes {
            @include flexbox(flex, stretch, center, row);
            gap: 10px;

            margin: {
              top: 30px;
            }

            gap: 50px;

            &-size {
              height: 100px;
              width: 100px;
              border: 1px solid black;
              border-radius: 50%;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;
              @include flexbox(flex, center, center, row);
              font-size: 20px;
              font-weight: 1000;
              cursor: pointer;

              &.active {
                background-color: black;
                color: white;
              }
            }
          }

          &_form {
            @include flexbox(flex, space-between, stretch, row);
            width: 150%;

            &_box {
              @include flexbox(flex, stretch, stretch, column);

              &_label {
                @include flexbox(flex, stretch, center, row);
                gap: 10px;
                font-size: 20px;

                &-input {
                  height: 30px;
                  width: 30px;

                  margin: {
                    top: 5px;
                    bottom: 5px;
                  }

                  cursor: pointer;
                }
              }
            }
          }

          &_forms {
            @include flexbox(flex, space-between, stretch, row);
            width: 150%;

            &_box {
              @include flexbox(flex, stretch, stretch, column);

              &_label {
                @include flexbox(flex, stretch, center, row);
                gap: 10px;
                font-size: 20px;

                &-input {
                  height: 30px;
                  width: 30px;

                  margin: {
                    top: 5px;
                    bottom: 5px;
                  }

                  cursor: pointer;
                }
              }
            }
          }

          #form {
            width: 98%;
          }
        }

        &_box.second {
          position: fixed;
          min-height: 75vh;
          @include flexbox(flex, center, center, column);
          width: 100%;
          background-color: white;
          text-align: center;
        }

        &::after {
          content: "";
          position: absolute;
          height: 100%;
          width: 2px;
          background-color: black;
          top: 0;
          right: 240px;
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 505px) {
  .section {
    &__pitsa {
      &_content {
        @include flexbox(flex, space-between, center, row);
        position: relative;

        &-title {
          font-weight: 400;
          font-size: 35px;
          text-align: center;

          padding: {
            top: 25px;
            bottom: 25px;
          }
        }

        .fa-cart-shopping {
          font-size: 20px;
          position: absolute;
          right: 0;
          cursor: pointer;
        }
      }


      &_container {
        @include flexbox(flex, space-between, stretch, row);
        max-width: 90%;

        &_box {
          transition: all 0.5s linear;
          -webkit-transition: all 0.5s linear;
          -moz-transition: all 0.5s linear;
          -ms-transition: all 0.5s linear;
          -o-transition: all 0.5s linear;

          &.active {
            transform: translateX(300%);
            -webkit-transform: translateX(300%);
            -moz-transform: translateX(300%);
            -ms-transform: translateX(300%);
            -o-transform: translateX(300%);
          }

          #section-pitsa-second {
            transform: translateX(300%);
            -webkit-transform: translateX(300%);
            -moz-transform: translateX(300%);
            -ms-transform: translateX(300%);
            -o-transform: translateX(300%);
          }

          &_result {
            @include flexbox(flex, stretch, center, row);
            gap: 10px;

            margin: {
              top: 20px;
              bottom: 20px;
            }

            &-title {
              font-size: 20px;
            }

            &-paragraph {
              font-size: 20px;
            }
          }

          &_results {
            @include flexbox(flex, stretch, center, row);
            gap: 10px;

            margin: {
              top: 20px;
              bottom: 20px;
            }

            &-title {
              font-size: 20px;
            }

            &-paragraph {
              font-size: 20px;
            }
          }

          &_list {
            &_item {
              &-title {
                font-size: 20px;

                margin: {
                  bottom: 10px;
                }
              }
            }

            &-item {
              font-size: 20px;

              margin: {
                top: 10px;
                bottom: 10px;
              }
            }
          }

          &_lists {
            &_item {
              &-title {
                font-size: 20px;

                margin: {
                  bottom: 10px;
                }
              }
            }

            &-item {
              font-size: 20px;

              margin: {
                top: 10px;
                bottom: 10px;
              }
            }
          }

          &-title {
            font-size: 20px;

            &.second {
              margin: {
                top: 30px;
                bottom: 15px;
              }
            }
          }

          &-btn {
            padding: {
              top: 15px;
              bottom: 15px;
              right: 30px;
              left: 30px;
            }

            font-size: 20px;
            background-color: tomato;
            border: 1px solid tomato;
            color: white;

            margin: {
              top: 30px;
            }

            transition: all 0.3s linear;

            &:hover {
              background-color: transparent;
              color: tomato;
            }
          }

          &_select {
            margin: {
              top: 10px;
              bottom: 50px;
            }

            width: 50%;

            padding: {
              top: 5px;
              bottom: 5px;
            }

            font-size: 20px;
            outline: none;
            cursor: pointer;
          }

          &_sizes {
            @include flexbox(flex, stretch, center, row);
            gap: 10px;

            margin: {
              top: 30px;
            }

            gap: 50px;

            &-size {
              height: 100px;
              width: 100px;
              border: 1px solid black;
              border-radius: 50%;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;
              @include flexbox(flex, center, center, row);
              font-size: 20px;
              font-weight: 1000;
              cursor: pointer;

              &.active {
                background-color: black;
                color: white;
              }
            }
          }

          &_form {
            @include flexbox(flex, space-between, stretch, column);
            width: 150%;

            &_box {
              @include flexbox(flex, stretch, stretch, column);

              &_label {
                @include flexbox(flex, stretch, center, stretch);
                gap: 10px;
                font-size: 20px;

                &-input {
                  height: 30px;
                  width: 30px;

                  margin: {
                    top: 5px;
                    bottom: 5px;
                  }

                  cursor: pointer;
                }
              }
            }
          }

          &_forms {
            @include flexbox(flex, space-between, stretch, stretch);
            width: 150%;

            &_box {
              @include flexbox(flex, stretch, stretch, column);

              &_label {
                @include flexbox(flex, stretch, center, stretch);
                gap: 10px;
                font-size: 20px;

                &-input {
                  height: 30px;
                  width: 30px;

                  margin: {
                    top: 5px;
                    bottom: 5px;
                  }

                  cursor: pointer;
                }
              }
            }
          }

          #form {
            width: 98%;
          }
        }

        &_box.second {
          position: fixed;
          min-height: 75vh;
          @include flexbox(flex, center, center, column);
          width: 100%;
          background-color: white;
          text-align: center;
        }

        &::after {
          content: "";
          position: absolute;
          height: 100%;
          width: 2px;
          background-color: black;
          top: 0;
          right: 240px;
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 420px) {
  .modal {
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1;
    @include flexbox(flex, center, center, stretch);
    display: none;

    &.active {
      display: block;
      @include flexbox(flex, center, center, stretch);
    }

    &__container {
      background-color: white;
      height: 300px;
      width: 600px;
      @include flexbox(flex, center, center, stretch);
      position: relative;

      .fa-check {
        background-color: green;
        color: white;
        font-size: 70px;
        padding: 30px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }

      .fa-x {
        background-color: tomato;
        color: white;
        font-size: 70px;
        padding: 30px 40px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }

      &_x {
        color: black;
        font-size: 70px;
        position: absolute;
        right: 30px;
        top: 10px;
        cursor: pointer;
      }
    }
  }

  .section {
    &__pitsa {
      &_content {
        @include flexbox(flex, space-between, center, stretch);
        position: relative;

        &-title {
          font-weight: 400;
          font-size: 25px;
          text-align: center;

          padding: {
            top: 25px;
            bottom: 25px;
          }
        }

        .fa-cart-shopping {
          font-size: 20px;
          position: absolute;
          right: 0;
          cursor: pointer;
        }
      }


      &_container {
        @include flexbox(flex, space-between, stretch, stretch);
        max-width: 90%;

        &_box {
          transition: all 0.5s linear;
          -webkit-transition: all 0.5s linear;
          -moz-transition: all 0.5s linear;
          -ms-transition: all 0.5s linear;
          -o-transition: all 0.5s linear;

          &.active {
            transform: translateX(300%);
            -webkit-transform: translateX(300%);
            -moz-transform: translateX(300%);
            -ms-transform: translateX(300%);
            -o-transform: translateX(300%);
          }

          #section-pitsa-second {
            transform: translateX(300%);
            -webkit-transform: translateX(300%);
            -moz-transform: translateX(300%);
            -ms-transform: translateX(300%);
            -o-transform: translateX(300%);
          }

          &_result {
            @include flexbox(flex, stretch, center, stretch);
            gap: 10px;

            margin: {
              top: 20px;
              bottom: 20px;
            }

            &-title {
              font-size: 20px;
            }

            &-paragraph {
              font-size: 20px;
            }
          }

          &_results {
            @include flexbox(flex, stretch, center, stretch);
            gap: 10px;

            margin: {
              top: 20px;
              bottom: 20px;
            }

            &-title {
              font-size: 20px;
            }

            &-paragraph {
              font-size: 20px;
            }
          }

          &_list {
            &_item {
              &-title {
                font-size: 20px;

                margin: {
                  bottom: 10px;
                }
              }
            }

            &-item {
              font-size: 20px;

              margin: {
                top: 10px;
                bottom: 10px;
              }
            }
          }

          &_lists {
            &_item {
              &-title {
                font-size: 20px;

                margin: {
                  bottom: 10px;
                }
              }
            }

            &-item {
              font-size: 20px;

              margin: {
                top: 10px;
                bottom: 10px;
              }
            }
          }

          &-title {
            font-size: 20px;

            &.second {
              margin: {
                top: 30px;
                bottom: 15px;
              }
            }
          }

          &-btn {
            padding: {
              top: 15px;
              bottom: 15px;
              right: 30px;
              left: 30px;
            }

            font-size: 20px;
            background-color: tomato;
            border: 1px solid tomato;
            color: white;

            margin: {
              top: 30px;
            }

            transition: all 0.3s linear;

            &:hover {
              background-color: transparent;
              color: tomato;
            }
          }

          &_select {
            margin: {
              top: 10px;
              bottom: 50px;
            }

            width: 50%;

            padding: {
              top: 5px;
              bottom: 5px;
            }

            font-size: 20px;
            outline: none;
            cursor: pointer;
          }

          &_sizes {
            @include flexbox(flex, stretch, center, column);
            gap: 10px;

            margin: {
              top: 30px;
              right: 100px;
            }

            gap: 50px;

            &-size {
              height: 100px;
              width: 100px;
              border: 1px solid black;
              border-radius: 50%;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;
              @include flexbox(flex, center, center, stretch);
              font-size: 20px;
              font-weight: 1000;
              cursor: pointer;

              &.active {
                background-color: black;
                color: white;
              }
            }
          }

          &_form {
            @include flexbox(flex, space-between, stretch, column);
            width: 150%;

            &_box {
              @include flexbox(flex, stretch, stretch, column);

              &_label {
                @include flexbox(flex, stretch, center, stretch);
                gap: 10px;
                font-size: 20px;

                &-input {
                  height: 30px;
                  width: 30px;

                  margin: {
                    top: 5px;
                    bottom: 5px;
                  }

                  cursor: pointer;
                }
              }
            }
          }

          &_forms {
            @include flexbox(flex, space-between, stretch, stretch);
            width: 150%;

            &_box {
              @include flexbox(flex, stretch, stretch, column);

              &_label {
                @include flexbox(flex, stretch, center, stretch);
                gap: 10px;
                font-size: 20px;

                &-input {
                  height: 30px;
                  width: 30px;

                  margin: {
                    top: 5px;
                    bottom: 5px;
                  }

                  cursor: pointer;
                }
              }
            }
          }

          #form {
            width: 98%;
            @include flexbox(flex, stretch, stretch, column);
          }
        }

        &_box.second {
          position: fixed;
          min-height: 75vh;
          @include flexbox(flex, center, center, column);
          width: 100%;
          background-color: white;
          text-align: center;
        }

        &::after {
          content: "";
          position: absolute;
          height: 100%;
          width: 2px;
          background-color: black;
          top: 0;
          right: 240px;
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 300px) {
  .section {
    &__pitsa {
      &_content {
        @include flexbox(flex, space-between, center, stretch);
        position: relative;

        &-title {
          font-weight: 400;
          font-size: 20px;
          text-align: center;

          padding: {
            top: 25px;
            bottom: 25px;
          }
        }

        .fa-cart-shopping {
          font-size: 20px;
          position: absolute;
          right: 0;
          cursor: pointer;
        }
      }


      &_container {
        @include flexbox(flex, space-between, stretch, stretch);
        max-width: 90%;

        &_box {
          transition: all 0.5s linear;
          -webkit-transition: all 0.5s linear;
          -moz-transition: all 0.5s linear;
          -ms-transition: all 0.5s linear;
          -o-transition: all 0.5s linear;

          &.active {
            transform: translateX(300%);
            -webkit-transform: translateX(300%);
            -moz-transform: translateX(300%);
            -ms-transform: translateX(300%);
            -o-transform: translateX(300%);
          }

          #section-pitsa-second {
            transform: translateX(300%);
            -webkit-transform: translateX(300%);
            -moz-transform: translateX(300%);
            -ms-transform: translateX(300%);
            -o-transform: translateX(300%);
          }

          &_result {
            @include flexbox(flex, stretch, center, stretch);
            gap: 10px;

            margin: {
              top: 20px;
              bottom: 20px;
            }

            &-title {
              font-size: 20px;
            }

            &-paragraph {
              font-size: 20px;
            }
          }

          &_results {
            @include flexbox(flex, stretch, center, stretch);
            gap: 10px;

            margin: {
              top: 20px;
              bottom: 20px;
            }

            &-title {
              font-size: 20px;
            }

            &-paragraph {
              font-size: 20px;
            }
          }

          &_list {
            &_item {
              &-title {
                font-size: 20px;

                margin: {
                  bottom: 10px;
                }
              }
            }

            &-item {
              font-size: 20px;

              margin: {
                top: 10px;
                bottom: 10px;
              }
            }
          }

          &_lists {
            &_item {
              &-title {
                font-size: 20px;

                margin: {
                  bottom: 10px;
                }
              }
            }

            &-item {
              font-size: 20px;

              margin: {
                top: 10px;
                bottom: 10px;
              }
            }
          }

          &-title {
            font-size: 20px;

            &.second {
              margin: {
                top: 30px;
                bottom: 15px;
              }
            }
          }

          &-btn {
            padding: {
              top: 15px;
              bottom: 15px;
              right: 30px;
              left: 30px;
            }

            font-size: 20px;
            background-color: tomato;
            border: 1px solid tomato;
            color: white;

            margin: {
              top: 30px;
            }

            transition: all 0.3s linear;

            &:hover {
              background-color: transparent;
              color: tomato;
            }
          }

          &_select {
            margin: {
              top: 10px;
              bottom: 50px;
            }

            width: 50%;

            padding: {
              top: 5px;
              bottom: 5px;
            }

            font-size: 20px;
            outline: none;
            cursor: pointer;
          }

          &_sizes {
            @include flexbox(flex, stretch, center, column);
            gap: 10px;

            margin: {
              top: 30px;
              right: 100px;
            }

            gap: 50px;

            &-size {
              height: 100px;
              width: 100px;
              border: 1px solid black;
              border-radius: 50%;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;
              @include flexbox(flex, center, center, stretch);
              font-size: 20px;
              font-weight: 1000;
              cursor: pointer;

              &.active {
                background-color: black;
                color: white;
              }
            }
          }

          &_form {
            @include flexbox(flex, space-between, stretch, column);
            width: 150%;

            &_box {
              @include flexbox(flex, stretch, stretch, column);

              &_label {
                display: flex;
                align-items: center;
                @include flexbox(flex, stretch, center, stretch);
                gap: 10px;
                font-size: 20px;

                &-input {
                  height: 30px;
                  width: 30px;

                  margin: {
                    top: 5px;
                    bottom: 5px;
                  }

                  cursor: pointer;
                }
              }
            }
          }

          &_forms {
            @include flexbox(flex, space-between, stretch, stretch);
            width: 150%;

            &_box {
              @include flexbox(flex, stretch, stretch, column);

              &_label {
                @include flexbox(flex, stretch, center, stretch);
                gap: 10px;
                font-size: 20px;

                &-input {
                  height: 30px;
                  width: 30px;

                  margin: {
                    top: 5px;
                    bottom: 5px;
                  }

                  cursor: pointer;
                }
              }
            }
          }

          #form {
            width: 98%;
            @include flexbox(flex, stretch, stretch, column);
          }
        }

        &_box.second {
          position: fixed;
          min-height: 75vh;
          @include flexbox(flex, center, center, column);
          width: 100%;
          background-color: white;
          text-align: center;
        }

        &::after {
          content: "";
          position: absolute;
          height: 100%;
          width: 2px;
          background-color: black;
          top: 0;
          right: 240px;
          display: none;
        }
      }
    }
  }
}